.navbar-custom {
    position: fixed;  /* Fix the navbar to the top */
    top: 0;
    width: 100%;
    background-color: #003366; /* Dark blue color */
    font-style: italic;
    color: white; /* White text */
    padding: 1rem 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000; 
    /* Ensure it is above other elements */
  }
  .navbar-custom:hover {
    color:white;
  }
  
  .navbar-logo {
    margin-right: 10px;
  }
  
  .navbar-brand {
    font-size: 2rem;
    font-family: cursive;
    
    font-weight: bold;
    /* font-size: larger; */
    color: white; /* Ensures text is visible */
  }
  
  .navbar-nav .nav-link {
    font-size: 1.25rem;
    font-family: fantasy;
    color: white; /* Set link color to white */
  }
  
  .navbar-nav .nav-link:hover {
    color: #ffcc00; /* Hover color (gold) */
  }
  
  .dark-mode-toggle {
    margin-left: 34px;
    display: flex;
    align-items: center;
  }
  